header{
background: #BBBBBB;
padding: 20px 0;
}
.caixa{
position:relative;
width: 940px;
margen: 0 auto;
}
nav{
.position: absolute;
top: 110px;
right: o;
}
nav li{
display: inline;
margen:0 0 0 15px; 
}
nav a{
text-transform: UPPERCASE;
color: #000000;
font-weight: bold;
font-size: 22px;
text-decoration: none;
}
